<app-hijo (paraEmitir)="recibirObjeto($event)" (alPadre)="recibirObjeto2($event)"></app-hijo>
<h1>Ejercicio 19</h1>
<hr />
<div class="contenido">
  <h2>Datos del objeto Persona</h2>
  <p><b>Nombre: </b>{{ personaPadre.nombre }}</p>
  <p><b>Apellidos: </b>{{ personaPadre.apellidos }}</p>
  <p><b>Edad:</b>{{ personaPadre.edad }}</p>
  <p><b>Sexo:</b>{{ personaPadre.sexo }}</p>
  <p><b>Estado:</b>{{ personaPadre.estado }}</p>
  <h3>{{personaPadre.mensaje}}</h3>
</div>

<div class="contenido">
  <h2>Datos del objeto Triangulo</h2>
  <p><b>Forma: </b>{{ figuraPadre.forma }}</p>
  <p><b>Tipo: </b>{{ figuraPadre.tipo }}</p>
  <p><b>Lados: </b>{{ figuraPadre.lados }}</p>
  <p><b>Color: </b>{{ figuraPadre.color }}</p>
  <h3>{{figuraPadre.mensaje}}</h3>
</div>
